<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.mapper.FoodTypeDaoMapper">
	<resultMap type="FoodType" id="rm">
		<id column="id" property="id"/>
		<result column="typeName" property="typeName" />
	</resultMap>
	<select id="getAllType" resultMap="rm">
		select * from foodType
	</select>
	<insert id="addType" parameterType="FoodType">
		insert into foodType(typeName) values(#{typeName})
	</insert>
	<select id="getTypeName" parameterType="int" resultType="String">
		select typeName from foodType where id=#{id}
	</select>
	<delete id="deleteFood" parameterType="int">
		delete from foodType where id=#{id}
	</delete>
	<select id="doSearchType" resultMap="rm">
		SELECT * FROM foodType WHERE typeName LIKE '${typeName}'
	</select>
	<!-- <update id="editTypeName" parameterType="FoodType">
		UPDATE foodType SET typeName=#{typeName}
	</update>
	 -->
	<select id="getFoodType" parameterType="int" resultType="FoodType"> 
		select * from foodType where  id=#{id} 
	</select>
	<update id="editTypeName" parameterType="int"> 
		UPDATE foodType SET typeName=#{typeName} where id=#{id}
	</update>
</mapper>